.contact-info {
  width: 100%;
  border: none;
  padding: 0;

  @media (min-width: 660px) {
    box-sizing: border-box;
    width: 100%;
    min-height: 162px;
    border: 2px solid #e5e5e5;
    border-radius: 3px;
    padding: 0;
    margin-top: 10px;
    order: 2;
  }
}

.contact-info__wrapper {
  display: block;
  padding-top: 28px;
  padding-bottom: 41px;

  @media (min-width: 660px) {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 45px;
    padding-bottom: 33px;
  }

  @media (min-width: 1200px) {
    padding-left: 58px;
    padding-right: 58px;
    padding-top: 38px;
    padding-bottom: 23px;
  }
}

.contact-info__wrapper label {
  display: block;
  font-size: 14px;
  line-height: 30px;
  font-weight: 300;
  text-transform: uppercase;
  margin: 0;
  color: var(--basic-pink);
  margin-left: 20px;
  margin-bottom: 15px;
  text-align: left;

  @media (min-width: 660px) {
    margin-top: 20px;
    margin-bottom: 0;
  }

  @media (min-width: 1200px) {
    margin-top: 19px;
  }
}

.contact-info__form {
  position: relative;
  margin: 0;

  @media (min-width: 660px) {
    width: 497px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }

  @media (min-width: 1200px) {
    width: 375px;
     margin: 0;
  }
}

.contact-info__form--mail {
  margin-top: 27px;

  @media (min-width: 660px) {
    flex-direction: column-reverse;
    border: 0;
  }

  @media (min-width: 1200px) {
    margin-top: 0;
  }
}

  @media (min-width: 660px) {
  .contact-info__form--tel {
    flex-direction: column-reverse;
    border: 0;
  }
}

.contact-info__icon {
  width: 100%;
  border: 2px solid var(--basic-light-gray);
  border-radius: 3px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 14px;
  padding-bottom: 14px;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  color: var(--back-main);
  background-color: transparent;
  white-space: normal;
  margin: 0 auto;

  @media (min-width: 660px) {
    box-sizing: border-box;
    width: 497px;
  }

  @media (min-width: 1200px) {
    width: 375px;
  }
}

.contact-info__icon--tel,
.contact-info__icon--mail {
  @media (min-width: 660px) {
    background-repeat: no-repeat;
    background-position: 456px 50%;
  }

  @media (min-width: 1200px) {
    background-position: 334px 50%;
  }
}

  @media (min-width: 660px) {
    .contact-info__icon--tel {
      background-image: url("../img/icon-phone-red.svg");
      background-size: 20px 19px;
    }

    .contact-info__icon--mail {
      background-image: url("../img/icon-mail-red.svg");
      background-size: 18px 13px;
    }
  }

.contact-infor__wrapper input[type="email"]:invalid {
  color: var(--basic-pink);
  border: 2px solid var(--basic-pink);
}

.contact-info__title {
  font-size: 0;
  line-height: 18px;
  padding-top: 0;
}

  @media (min-width: 660px) {
  .contact-info legend {
    width: 260px;
    font-size: 14px;
    text-align: center;
  }
}

.contact-info__form span {
  @media (min-width: 660px) {
    position: absolute;
    width: 59px;
    height: 59px;
    top: 1px;
    right: 0;
    background-color: var(--basic-light-gray);
    border-top: 2px solid var(--basic-light-gray);
    border-right: 2px solid var(--basic-light-gray);
    border-bottom: 2px solid var(--basic-light-gray);
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    z-index: -1;
  }

  @media (min-width: 1200px) {

  }
}
