.developed {
  display: flex;
  justify-content: center;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  text-align: center;
  color: var(--back-main);
  margin: 0;

  @media (min-width: 660px) {
    font-size: 18px;
  }
}

.developed p {
  display: flex;
  align-items: center;
  margin: 0;
}

.developed__link {
  margin-left: 15px;
  margin-top: 10px;

  @media (min-width: 660px) {
    margin-left: 15px;
  }

  @media (min-width: 1200px) {
    margin-left: 28px;
  }
}

.developed__link svg {
  fill: var(--basic-pink);

  &:hover {
    fill: var(--back-main);
  }

  &:active {
    opacity: 0.3;
  }
}
