.field-trip {
  width: 320px;
  transform: translateX(-20px);
  padding: 0;
  margin: 0;
  border: none;
  background-color: var(--back-gray);

  @media (min-width: 660px) {
    width: 620px;
    transform: translateX(0);
    border: 2px solid var(--basic-light-gray);
    border-radius: 3px;
    margin-bottom: 61px;
    background-color: var(--basic-white);
    order: 1;
  }

  @media (min-width: 1200px) {
    width: 435px;
  }
}

.field-trip__list {
  padding: 0;
  text-align: left;
  padding-left: 80px;
  padding-right: 20px;
  margin: 0;
  margin-top: 35px;

  @media (min-width: 660px) {
    padding-left: 68px;
    padding-bottom: 15px;
    margin-top: 40px;
  }

  @media (min-width: 1200px) {
    margin-top: 40px;
    margin-left: 75px;
    margin-bottom: 15px;
    padding: 0;
  }
}

.field-trip__item {
  font-size: 18px;
  line-height: 30px;
  font-weight: 300;
  color: var(--back-main);
  list-style: none;
  margin-bottom: 45px;

  @media (min-width: 660px) {
    margin-left: 50px;
    margin-bottom: 45px;
  }

  @media (min-width: 1200px) {
    margin-left: 60px;
  }
}

.field-trip__item label {
  position: relative;
}

.field-trip .form-legend {
  margin: 0 auto;
  border: none;
  background-color: var(--back-gray);

  @media (min-width: 660px) {
    width: 400px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 0;
    background-color: transparent;
  }

  @media (min-width: 1200px) {
    width: 380px;
  }
}
