.main-nav {
  @media (min-width: 1200px) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}











/*

.main-nav__toggle {
  display: block;
  position: absolute;
  top: 21px;
  left: calc(100% - 70px);
  margin: 0;
  font-size: 0;
  border: none;
  cursor: pointer;

  &:hover,
  &:active {
    fill: var(--basic-pink);
  }

  @media (min-width: 660px) {
    top: 43px;
  }

  @media (min-width: 1200px) {
    left: 0;
  }
}


/*
.main-nav__toggle--index {
  display: none;
  position: absolute;
  top: -725px;
  right: calc(50% - 140px);
  margin: 0;
  font-size: 0;
  border: none;
  cursor: pointer;

  @include _660 {
    top: -680px;
    right: calc(50% - 310px);
  }
}

.main-nav__toggle--closed {
  display: block;
  width: 50px;;
  height: 24px;
  background-image: url("../img/icon-menu-burger.svg");
  background-color: transparent;
  background-repeat: no-repeat;

  @media (min-width: 1200px) {
    display: none;
  }
}

.main-nav__toggle--opened {
  display: none;
  width: 25px;
  height: 25px;
  background-image: url("../img/icon-menu-cross.svg");
  background-color: transparent;
  background-repeat: no-repeat;
}

.main-nav__toggle--closed {
  &:hover {
    background-image: url("../img/icon-menu-burger-red.svg");
  }

  &:active {
    background-image: url("../img/icon-menu-burger-red.svg");
    opacity: 0.5;
  }
}

.main-nav__toggle--opened {
  &:hover {
    background-image: url("../img/icon-menu-cross-red.svg");
  }

  &:active {
    background-image: url("../img/icon-menu-cross-red.svg");
    opacity: 0.5;
  }
}

.main-nav__toggle--closed:active ~ .site-list {
  display: block;
}

.main-nav__toggle--opened:active ~ .main-nav__toggle--closed {
  display: none;
}

*/






.main-nav__list {
  margin: 0 auto;

  @media (min-width: 660px) {

  }

  @media (min-width: 1200px) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-width: 620px;
    line-height: 18px;
    font-weight: 300;
    text-transform: none;
    text-align: right;
    list-style: none;
    padding: 0;
    margin: 0;
    border: none;
    background-color: transparent;
  }
}

.main-nav__toggle--closed:active ~ .site-list {
  display: block;
}

.main-nav__toggle--opened:active ~ .site-list {
  display: none;
}


/*
.main-nav__toggle--opened:active {
  display: block;
  right: calc(50% - 140px);
  background-image: url("../img/icon-menu-burger.svg");
  background-color: transparent;
  background-repeat: no-repeat;
  width: 50px;
  height: 24px;

  @include _660 {
    right: calc(50% - 310px);
  }
}

.main-nav--closed .site-list__item--active a {
  padding-right: 70px;
  padding-left: 70px;
  text-align: center;
}
*/


/*

  @media (max-width: @mobile-width-only) {
    .main-nav--closed .site-list__item {
      display: none;

    &--active {
      display: block;
    }
  }
}

*/
