.navigation-header {
  position: relative;
  width: 100%;
  min-height: 65px;
  background-color: rgba(0, 0, 0, 0.3);
  background-color: transparent;
  z-index: 2;

  @media (min-width: 660px) {
    min-height: 110px;
    margin: 0;
  }

  @media (min-width: 1200px) {
    background-color: rgba(0, 0, 0, 0.3);
  }
}

.navigation-header__wrap {
  padding-top: 22px;

  @media (min-width: 660px) {
    padding-top: 27px;
    margin: 0 auto;
  }

  @media (min-width: 1200px) {
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    padding-left: 130px;
    padding-right: 130px;
    margin: 0 auto;
  }
}

.navigation-header__wrap > div {
  width: 320px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  flex-wrap: wrap;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 21px;
  margin: 0 auto;

  @media (min-width: 660px) {
    width: 660px;
    padding-bottom: 43px;
  }

  @media (min-width: 1200px) {
    padding: 0;
  }
}

.navigation-header__toggle {
  display: block;
  border: none;
  cursor: pointer;

  &:hover,
  &:active {
    fill: var(--basic-pink);
  }
}

.navigation-header__toggle--closed {
  display: block;
  width: 50px;
  height: 24px;
  background-image: url("../img/icon-menu-burger.svg");
  background-color: transparent;
  background-repeat: no-repeat;

  @media (min-width: 1200px) {
    display: none;
  }
}

.navigation-header__toggle--opened {
  display: none;
  width: 25px;
  height: 25px;
  background-image: url("../img/icon-menu-cross.svg");
  background-color: transparent;
  background-repeat: no-repeat;
}

.navigation-header__toggle--closed {
  &:hover {
    background-image: url("../img/icon-menu-burger-red.svg");
  }

  &:active {
    background-image: url("../img/icon-menu-burger-red.svg");
    opacity: 0.5;
  }
}

.navigation-header__toggle--opened {
  &:hover {
    background-image: url("../img/icon-menu-cross-red.svg");
  }

  &:active {
    background-image: url("../img/icon-menu-cross-red.svg");
    opacity: 0.5;
  }
}

.navigation-header__toggle--closed:active ~ .site-list {
  display: block;
}

.navigation-header__toggle--opened:active ~ .navigation-header__toggle--closed {
  display: none;
}
