.progress-trip {
  box-sizing: border-box;
  width: 320px;
  background-color: var(--back-gray);
  border: none;
  transform: translateX(-20px);
  padding: 0;
  margin-left: 0;
  margin-right: 0;

  @media (min-width: 660px) {
    width: 620px;
    min-height: 162px;
    transform: translateX(0);
    border: 2px solid var(--basic-light-gray);
    border-radius: 3px;
    background-color: var(--basic-white);
    order: 3;
  }

  @media (min-width: 1200px) {
    width: 940px;
  }
}

.progress-trip__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  margin-top: 41px;
  padding-left: 80px;
  padding-right: 20px;

  @media (min-width: 660px) {
    margin-top: 52px;
    padding-left: 62px;
  }

  @media (min-width: 1200px) {
    margin-left: 60px;
    padding: 0;
  }
}

.progress-trip__item {
  width: 100%;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  color: #283645;
  list-style: none;
  margin-bottom: 65px;
  text-align: left;

  @media (min-width: 660px) {
    margin-bottom: 64px;
    margin-left: 60px;
  }

  @media (min-width: 1200px) {
    width: 230px;
    margin-bottom: 64px;
    margin-left: 60px;
  }
}

.progress-trip__list label {
  position: relative;
}

.progress-trip__list input[type="checkbox"]:checked + label::after {
  position: absolute;
  display: inline-block;
  vertical-align: middle;
  content: "";
  top: 5px;
  left: -47px;
  width: 21px;
  height: 10px;
  border-left: 2px solid var(--basic-pink);
  border-bottom: 2px solid var(--basic-pink);
  transform: rotate(-45deg);
  opacity: 1;
}

.progress-trip__list input[type="checkbox"] + label::after {
  position: absolute;
  display: inline-block;
  vertical-align: middle;
  content: "";
  top: 5px;
  left: -47px;
  width: 21px;
  height: 10px;
  border-left: 2px solid var(--basic-pink);
  border-bottom: 2px solid var(--basic-pink);
  transform: rotate(-45deg);
  opacity: 0;
}

.progress-trip__title {
  margin: 0 auto;
  margin-top: 55px;
  margin-bottom: 54px;
  background-color: var(--back-gray);
}
