.purposes-application {
  position: relative;
  margin-top: 48px;
  color: var(--back-main);
}

.purposes-application__title {
  width: 230px;
  position: relative;
  margin: 0 auto;

  @media (min-width: 660px) {
    width: 100%;
    margin: 0;
    margin-top: 65px;
  }

  @media (min-width: 1200px) {
    margin-top: 77px;
  }
}

.purposes-application__subtitle {
  width: 230px;
  font-size: 24px;
  line-height: 30px;
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 33px;


  @media (min-width: 660px) {
    width: 100%;
    font-size: 40px;
    line-height: 48px;
    font-weight: 300;
    margin: 0;
    margin-bottom: 48px;
  }

  @media (min-width: 1200px) {
    font-size: 50px;
    line-height: 60px;
    font-weight: 300;
    margin-bottom: 80px;
  }
}

.purposes-application__list {
  position: relative;
  width: 280px;
  text-align: center;
  list-style: none;
  margin: 0;
  padding: 0;
  padding-top: 53px;
  padding-bottom: 285px;

  @media (min-width: 660px) {
    width: 100%;
    padding-bottom: 10px;
    text-align: left;
    padding-left: 310px;
    padding-top: 20px;
  }

  @media (min-width: 1200px) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    top: -15px;
    left: 50%;
    text-align: center;
    padding-left: 0;
    padding-bottom: 0;
    transform: translateX(-50%);
  }
}

.purposes-application__list::after {
  position: absolute;
  content: "";
  left: calc(50% - 78px);
  bottom: 0;
  width: 157px;
  height: 278px;
  background-image: url("../img/iphone-screen-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: 0 0;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/iphone-screen-mobile@2x.png");
    background-size: 157px 278px;
  }

  @media (min-width: 660px) {
    display: inline-block;
    left: 0;
    width: 268px;
    height: 483px;
    bottom: 0;
    background-image: url("../img/iphone-screen-3-tablet@1x.png");

    @media (min-width: 660px) and (min-resolution: 144dpi),
      (min-width: 660px) and (min-resolution: 1.5dppx) {
      background-image: url("../img/iphone-screen-3-tablet@2x.png");
      background-size: 268px 483px;
    }
  }

  @media (min-width: 1200px) {
    display: none;
  }
}
