.skew-back {
  position: relative;
  width: 100%;
  background-color: var(--back-gray);
}

.skew-back::before {
  display: block;
  content: "";
  height: 34px;
  background-image: linear-gradient(to right bottom, var(--basic-white) 50%, var(--back-gray) 50%);

  @media (min-width: 660px) {
    height: 54px;
  }

  @media (min-width: 1200px) {
    height: 100px;
  }
}
