/*
@media (min-width: @desktop-width) {
  .slides {
    position: relative;
    width: 940px;
  }
}
*/

.slides {
  @media (min-width: 1200px) {
    position: relative;

  }
}

.slides__list {

}

.slides__no-js {

}

.slides__togglers {
  position: absolute;
  display: flex;
  align-items: center;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;

  @media (min-width: 1200px) {
    display: none;
  }
}

.slides__togglers--tariff {
  bottom: 50px;

  @media (min-width: 660px) {
    display: none;
  }
}

.slides__toggler {

}

.slides__toggler:last-child .slides__btn {
  margin-right: 0;
}

.slides__btn {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 6px;
  height: 6px;
  border: none;
  border-radius: 50%;
  background-color: #bec2c7;
  margin-right: 19px;
  text-align: center;
  padding: 0;
  cursor: pointer;
}

.slides__btn--active {
  width: 12px;
  height: 12px;
  border: 3px solid var(--back-main);
  background-color: var(--basic-white);
}
