.tariffs {
  position: relative;
  display: block;
  background-color: var(--back-gray);
  padding-top: 80px;
  padding-bottom: 100px;
  margin: 0 auto;
  margin-bottom: 48px;
  overflow-x: hidden;

  @media (min-width: 660px) {
    padding-top: 56px;
    padding-bottom: 70px;
  }

  @media (min-width: 1200px) {
    padding-bottom: 98px;
  }
}

.tariffs__table {
  position: relative;
  width: calc(300% - 280px);
  transform: translateX(calc(93px - 33.333%));
  background-color: var(--basic-white);
  padding: 0;
  border-collapse: collapse;
  border: 2px solid var(--basic-light-gray);
  border-radius: 1px;

  @media (min-width: 660px) {
    width: 610px;
    margin: auto;
    border: none;
    transform: translateX(0);
  }

  @media (min-width: 1200px) {
    width: 936px;
  }
}

.tariffs__table td {
  width: 280px;
  position: relative;
}

.tariffs label {
  visibility: hidden;
}

.tariffs__table table {
  table-layout: fixed;
  border-collapse: collapse;
  border: 0;
}

.tariffs__header {
  width: 100%;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--basic-white);
  background-color: var(--back-main);
  text-align: center;
  border-bottom: 2px solid var(--back-main);
  border-top: none;
  border-radius: 1px;

  @media (min-width: 660px) {
    width: 153px;
    border-bottom: 2px solid var(--back-main);
    border-top: none;
  }

  @media (min-width: 1200px) {
    width: 234px;
    font-size: 18px;
    line-height: 24px;
    border: none;
    border-bottom: 2px solid var(--back-main);
  }
}

.tariffs__header--side {
  background-color: var(--basic-white);
}

.tariffs__header--side .tariffs__name {
  border: 2px solid var(--basic-light-gray);
}

.tariffs__title {
  padding-top: 17px;
  padding-bottom: 22px;

  @media (min-width: 660px) {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  @media (min-width: 1200px) {
    padding-top: 17px;
    padding-bottom: 22px;
  }
}

.tariffs__title--hit {
  position: relative;
  overflow: hidden;
}

.tariffs__title--hit::before {
  display: inline-block;
  position: absolute;
  content: "Хит";
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  text-transform: uppercase;
  color: var(--basic-white);
  background-color: var(--basic-pink);
  width: 125px;
  height: 25px;
  transform: rotate(-45deg);
  top: 20%;
  left: -35px;
  vertical-align: middle;

  @media (min-width: 660px) {
    width: 90px;
    height: 20px;
    line-height: 20px;
    top: 8%;
    left: -30px;
  }

  @media (min-width: 1200px) {
    width: 120px;
    height: 25px;
    line-height: 24px;
    top: 15%;
  }
}

.tariffs__name {
  visibility: hidden;

  @media (min-width: 660px) {
    visibility: visible;
    width: 153px;
    font-size: 14px;
    line-height: 16px;
    font-weight: 300;
    text-transform: none;
    text-align: left;
    color: var(--back-main);
    padding-left: 15px;
  }

  @media (min-width: 1200px) {
    width: 234px;
    font-size: 18px;
    line-height: 20px;
    padding-left: 23px;
    vertical-align: middle;
  }
}

.tariffs th:first-child,
.tariffs td:first-child {
  display: none;

  @media (min-width: 660px) {
    display: table-cell;
  }
}

.tariffs__header td {
  width: 280px;
  padding: 0;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 16px;
  padding-bottom: 15px;
  border: 2px solid var(--basic-light-gray);
  border-collapse: collapse;
  overflow: hidden;

  @media (min-width: 660px) {
    width: 153px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  @media (min-width: 1200px) {
    width: 234px;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 20px;
    padding-bottom: 15px;
    vertical-align: middle;
  }
}

.tariffs__header span {
  display: block;
  font-size: 18px;
  line-height: 30px;
  font-weight: 100;

  @media (min-width: 1200px) {
    font-size: 24px;
  }
}

.tariffs__item {
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
  color: var(--back-main);
  text-align: left;

  @media (min-width: 660px) {
    font-size: 0;
    text-align: center;
  }

  @media (min-width: 1200px) {
    width: 234px;
    font-size: 0;
    padding: 0;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 22px;
    padding-bottom: 18px;
    vertical-align: middle;
    border: 2px solid var(--basic-light-gray);
  }
}

.tariffs__item::after {
  display: inline-block;
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  vertical-align: middle;

  @media (min-width: 660px) {
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.tariffs__item--yes::after {
  display: inline-block;
  content: url("../img/icon-yes-green.svg");
  width: 31px;
  height: 21px;
}

.tariffs__item--no::after {
  display: inline-block;
  content: url("../img/icon-no-red.svg");
  width: 27px;
  height: 27px;
}

.tariffs__title:nth-of-type(2) {
  border-right: 2px solid var(--basic-light-gray);
  border-bottom: 2px solid var(--back-main);
  border-left: 2px solid var(--back-main);
  border-top-left-radius: 1px;
  border-bottom-left-radius: 1px;
}

.tariffs__title:nth-of-type(3) {
  border-right: 2px solid var(--basic-light-gray);
  border-bottom: 2px solid var(--back-main);

  @media (min-width: 660px) {
    border-left: 2px solid var(--back-main);
  }
}

.tariffs__title:last-of-type {
  border-right: 2px solid var(--back-main);
  border-bottom: 2px solid var(--back-main);
  border-top-right-radius: 3px;
}

th.tariffs__title--empty {
  @media (min-width: 660px) {
    background-color: var(--back-gray);
    border: 2px solid var(--back-gray);
    border-bottom: 2px solid var(--basic-light-gray);
  }
}
