@mixin _1600 {
    @media (max-width: 1600px){
        @content;
    }
}

@mixin _1400 {
    @media (max-width: 1400px){
        @content;
    }
}

@mixin _1280 {
    @media (max-width: 1280px){
        @content;
    }
}

@mixin _1080 {
    @media (max-width: 1080px){
        @content;
    }
}

@mixin _960 {
    @media (max-width: 960px){
        @content;
    }
}

@mixin _768 {
    @media (max-width: 768px){
        @content;
    }
}

@mixin _680 {
    @media (max-width: 680px){
        @content;
    }
}

@mixin _480 {
    @media (max-width: 480px){
        @content;
    }
}





/*  Colors  */


:root {
  --back-index: #005955;
  --back-service: #005555;
  --back-contact: #005e5e;
  --basic-white: #ffffff;
  --main-text: #333333;
  --text-footer: #f3f3f3;
  --button: #005e5e;
  --headline: #d3990b;
}




/*  Text  */

:root {
  --title-family: "Robika", "Arial", sans-serif;
  --title-size: 40px;
  --title-line: 45px;
  --title-weight: 300;
  --main-text-family: "Vladivostok", "Arial", sans-serif;
  --main-text-size: 21px;
  --main-text-line: 30px;
  --span-text-size: 20px;
  --crumb-size: 14px;
  --crumb-line: 19px;
}
