@font-face {
  font-family: "Vladivostok";
  src: url("../fonts/regular.woff2") format("woff2");
  src: url("../fonts/regular.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Vladivostok";
  src: url("../fonts/bold.woff2") format("woff2");
  src: url("../fonts/bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Robika";
  src: url("../fonts/Robika-Regular.woff2") format("woff2");
  src: url("../fonts/Robika-Regular.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
